@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Host

<h2>Add a New Host</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.HostName)
        @Html.TextBoxFor(model => model.HostName)
    </div>
    <div class="form-group">
        <input type="submit" value="Add New Host" class="btn btn-default"/>
    </div>
}

<h3>@Html.ActionLink("Hosts Home", "Index")</h3>