@{
    Layout = "_Layout";
}

@using BeMyGuest.Models

<h2>Host Home</h2>
<hr>

<h3>@Html.ActionLink("Back to Home", "Index", "Home")</h3>
<h3>@Html.ActionLink("Create an Event", "Create", "Events")</h3>
<h3>@Html.ActionLink("Add a co-host", "Create", "Hosts")</h3>
<h3>@Html.ActionLink("Edit your Info", "Edit", "Hosts")</h3>