@{
    Layout = "_Layout";
}

@using BeMyGuest.Models

<h1><span id="beMyGuest">Be My Guest!</span></h1>
<h3 id="bylineHighlight">Make socially awkward socially <span id="byline">awesome.</span></h3>
@* <img id="logo" src="~/img/BeMyGuest_Logo.png" alt="Be My Guest logo & byline"> *@

@if (!User.Identity.IsAuthenticated)
{
    <div class="card mx-auto" style="width: 36rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Join us!</h5>
        <p class="card-text text-center text-muted">Create your first event by registering your new account today, or
            log in if you already have an account.</p>
        <a href="/account/register" class="card-link">Register</a>
        <a href="/accountlogin" class="text-left card-link">Login</a>
    </div>
</div>
}
else
{
    <div class="card mx-auto" style="width: 36rem;">
    <div class="card-body">
        <h5 class="card-title text-center">What would you like to do today?</h5>
        <p class="card-text text-center text-muted">Create an event, see an events guest list, view your details ...</p>
        <a href="/hosts" class="card-link">Hosts Home</a>
        <a href="/guests" class="card-link">Guests Home</a>
        <a href="/events" class="card-link">Events Home</a>
        <a href="/coviddataset" class="card-link">Covid Data Home</a>
    </div>
</div>
}
