@{
    Layout = "_Layout";
}

@using BeMyGuest.Models

<h1><span id="beMyGuest">Be My Guest!</span></h1>
<h3>Make socially <span id="strikethrough">awkward</span> socially <span id="byline">awesome.</span></h3>
<div class="container">
    @* <img id="logo" src="~/img/BeMyGuest_Logo.png" alt="Be My Guest logo & byline"> *@
</div>