@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Guest

<h2>Add a New Guest</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="form-group">
        <input type="submit" value="Add New Guest" class="btn btn-default"/>
    </div>
}

<h3>@Html.ActionLink("Show all guests", "Index")</h3>