@{
    Layout ="_Layout";
}

@model BeMyGuest.Models.Guest

<h2>Delete Guest</h2>
<hr />
<h4>Are you sure you want to delete this guest?</h4>
<div class="card mx-auto" style="width: 36rem;">
    <div class="card-body">
        <div class="form-group row">
            @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" class="btn btn warning" />
            }
        </div>
    </div>
</div>

<h3>@Html.ActionLink("Back to Guest Details", "Details", new {id = Model.GuestId}) || @Html.ActionLink("Back to Guests", "Index")</h3>