@{
    Layout = "_Layout";
}
<h1>Social Q's</h1>
<h2>Social Questions for your Social Cues</h2>
<h3>Please fill this form out to communicate with guests any information you may feel uncomfortable talking about in
    person but should have guests be aware of.</h3>
<h4>The purpose of this form is to promote communication, awareness, diversity and equality. </h4>
<h5>Make socially awkward, socially awesome!</h5>

<div class="form-group">
    <p>1. What are your pronouns?</p>
    <input type="text">
</div>
<div class="form-group">
    <p>2. Did you complete the COVID Questionnaire?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
</div>
<div class="form-group">
    <p>3. Did you complete the COVID Questionnaire?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
</div>
<div class="form-group">
    <p>4. Do you have any condtions that put you at a high risk?</p>
    <p>Examples: pregnant, medical condition, immune deficiency</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Explanation:</p>
    <input type="text">
</div>
<div class="form-group">
    <p>5. Do you have any condtions that you would like the host/party to be aware of?</p>
    <p>Examples: diabetic, dementia, blind, deaf</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Explanation:</p>
    <input type="text">
</div>
<div class="form-group">
    <p>6. Have you recently traveled?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
</div>
<div class="form-group">
    <p>7. Do you have any medical mobility needs?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>If yes, please explain what the host should provide: (Example: wheel chair accessibility)</p>
    <input type="text">
</div>
<div class="form-group">
    <p>8. Do you have a service animal?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Instructions: (Example: Please do not pet service animal)</p>
    <input type="text">
</div>
<div class="form-group">
    <p>9. Do you have any dietary restrictions?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Explanation</p>
    <input type="text">
</div>
<div class="form-group">
    <p>10. Do you have any allergies?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Explanation</p>
    <input type="text">
</div>
<div class="form-group">
    <p>11. Preferred language?</p>
    <input type="text">
    <p>Would you like to be provided with a translator?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
</div>
<div class="form-group">
    <p>12. Alcohol-free or friendly?</p>
    <input type="radio"> Alcohol-free <br>
    <input type="radio"> Alcohol-friendly <br>
</div>
<div class="form-group">
    <p>13. Do you prefer no physical contact?</p>
    <p>Example: Not a hugger, no handshakes, elbow bumps only</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Explanation</p>
    <input type="text">
</div>
<div class="form-group">
    <p>14. Do you have a plus one?</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Please have your plus one fill out the COVID Questionnaire and Social Q's form</p>
</div>
<div class="form-group">
    <p>15. Will you be bringing small children?</p>
    <p>Example: Not a hugger, no handshakes, elbow bumps only</p>
    <input type="radio"> Yes <br>
    <input type="radio"> No <br>
    <p>Please provide any special needs the children may need.</p>
    <p>Example: high chair, booster seat, changing area, kids menu</p>
    <input type="text">
</div>
<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-default" />
</div>