<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Be My Guest</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'> @*pos1*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" required></script> @*pos2*@
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> @*pos3*@
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="/">BE MY GUEST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/guests">Guests <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/hosts">Hosts <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                @*break from left-aligned & right-aligned nav bar items*@
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/account"><span class="fas fa-user"></span> Your Account</a>
                        </li>
                        <li class="nav-item">
                        <button class="nav-link" href="/logoff/account"><span class="fas fa-user"></span> Logout</button>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/account/register"><span class="fas fa-user"></span> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login"><span class="fas fa-sign-in-alt"></span> Login</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <div class="container"></div>
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>