@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Event

<h1>Add a Guest</h1>
<hr>
<h4>Add Guest To: @Html.DisplayFor(model => model.EventTitle)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EventId)

    <h4>Guests to Invite: @Html.DropDownList("GuestId")</h4>

    <input type="submit" value="Save" class="btn btn-default" />
}