@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Event

<h1>Add Event</h1>
@using (Html.BeginForm())
{
    
    <h4>Event Title: @Html.TextBoxFor(model => model.EventTitle)</h4>

    <input type="submit" value="Add Event" class="btn btn-default" />
}