@{
    Layout = "_Layout";
}

@model BeMyGuest.Models.Event

<div class="headers">
    <h1>Edit</h1>
    <h3>Editing: @Html.DisplayFor(model => model.EventTitle)</h3>
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EventId)

    <h4>Event Title: @Html.EditorFor(model => model.EventTitle)</h4>

    <input type="submit" value="Save" class="btn btn-default" />
}