@{
    Layout = "_Layout";
}

@using System.Security.Claims

<h1>Authentication with Identity</h1>
<hr>
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" value="Log Out" class="btn btn-info">
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log In", "Login")</p>
}
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>