@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    <h1>Accounts Home</h1>
    <hr>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <div class="form-group">
            <input type="submit" value="Log Out" class="btn btn-default">
            </div>
        }
    }
    else
    {
        <h3>@Html.ActionLink("Register", "Register")</h3>
        <h3>@Html.ActionLink("Log In", "Login")</h3>
    }
    <h3>@Html.ActionLink("Back to Home", "Index", "Home")</h3>
</div>