@{
    Layout = "_Layout";
}

@using BeMyGuest.ViewModels
@model LoginViewModel

<h1>Log In with your Account</h1>
<hr>
@using (Html.BeginForm())
{
    @Html.LabelFor(account => account.Email)
    @Html.TextBoxFor(account => account.Email)

    @Html.LabelFor(account => account.Password)
    @Html.PasswordFor(account => account.Password)

    <input type="submit" value="Log In" class="btn btn-info">
}